.count_box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3.2rem 1.6rem;

  max-width: 85rem;
  margin: 0 auto;

  border-bottom: 1px solid #868e96;
}
.movie_box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
  max-width: 100rem;
  margin: 2rem auto;
}

.section_title {
  font-size: 3.6rem;
  font-weight: 600;
}
.count_flex {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.count {
  font-size: 3.6rem;
  color: #f07167;
}
.count_text {
  font-size: 1.6rem;
  color: #868e96;
}
.showmore_button {
  font-size: 2rem;
  padding: 0.8rem 9.6rem;
  border: 1px solid #868e96;
  color: #343a40;
  background-color: #fff;

  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.6s;
}
.showmore_button:hover {
  color: #fff;
  background-color: #343a40;
  border: 1px solid #343a40;
}
