.count_box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3.2rem 1.6rem;

  max-width: 85rem;
  margin: 0 auto;

  border-bottom: 1px solid #868e96;
}

.count_flex {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.count {
  font-size: 3.6rem;
  color: #f07167;
}
.count_text {
  font-size: 1.6rem;
  color: #868e96;
}
.showmore_button {
  margin: 0 auto;
  font-size: 2rem;
  padding: 0.8rem;
  border: none;
  color: #fff;
  border-radius: 9px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
