.grid {
  display: grid;
  max-width: 82.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1.2rem;

  margin: 2.4rem auto;
}

.grid_item_img {
  width: 20rem;
  height: 30rem;

  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.grid_item_img:hover {
  filter: brightness(50%);
}
