.theme {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal {
  background-color: #fff;
  padding: 3.2rem;
  width: 60%;
  height: auto;
  border-radius: 9px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;

  display: grid;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 2.4rem;
}
.title_box {
  display: inline-flex;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 2.4rem;
}
.modal_title {
  font-size: 3.6rem;
}
.modal_description {
  font-size: 1.6rem;
  line-height: 1.5;
}

.modal_button_box {
  position: absolute;
  bottom: 0;
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.modal_button {
  font-size: 2rem;
  padding: 0.8rem;
  border: none;
  color: #fff;
  border-radius: 9px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.modal_watchlist_button {
  background-color: #f07167;
}

.modal_watchlist_button:hover {
  background-color: #c05a52;
}

.modal_readmore_button {
  background-color: #fff;
  color: #555;
}

.modal_readmore_button:hover {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.modal_image {
  width: 100%;
}

.exit_icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  cursor: pointer;
}
